body {
    color: red;
}

.navbar {
    text-align: center;
    color: blueviolet;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.search {
    width: 80%;
}

.container {
    float: left;
    width: 23%;
    margin: 0 5px;

}

.container a {
    color: darkblue;
}

form {
    margin: 30px 0;
    text-align: center;
}

.cards {
    background-color: grey;
    padding: 2px;
}

.card1,
.card2 {
    padding-top: 50px;
}

.card {
    margin-top: 5%;
    background-color: rgb(163, 170, 170);
    text-transform: uppercase;
    text-align: center;
    height: 100px;
}

.btn a,
.btn2 a,
a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.btn a {
    color: black;
}

.btn1,
.btn2 {
    background-color: orange;
    width: 48%;
    height: 50px;
}

.btn2 {
    background-color: darkgreen;

}


.cont {
    text-align: center;
    color: blueviolet;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15%;
}

.cont3 p {
    font-size: 1em;
}